In [18]:
# %%
import numpy as np
import pandas as pd
import os
import torch
import logging

In [ ]:

# Example DataFrame with columns X, Y, Z, Atom_Name, Residue_Name, Residue_ID, Atom_Type, and Timeframe
df = pd.read_csv("DATA/FILT_HB/HB1000frames.csv")
df.rename(columns={"Timeframe": "time"}, inplace=True)
df['time'] = df['time'] - df['time'].min()
df['elem'] = df.apply(lambda row: f"{row['Atom_Name']}_{row['Residue_ID']}", axis=1)
df

,X,Y,Z,Atom_Name,Residue_Name,Residue_ID,Atom_Type,time,elem
0,12.759892,2.253709,33.260902,C1,CSP,1,cb,0,C1_1
1,12.862613,3.581455,34.023949,C2,CSP,1,cb,0,C2_1
2,11.457548,4.321817,34.003315,C3,CSP,1,cb,0,C3_1
3,10.981806,4.421790,32.537914,C4,CSP,1,cb,0,C4_1
4,11.038748,3.091581,31.915064,O5,CSP,1,ob,0,O5_1
...,...,...,...,...,...,...,...,...,...
6121,22.220211,66.814766,50.109936,H8,SFL,14,ha,0,H8_14
6122,24.264881,65.406349,50.476776,H9,SFL,14,ha,0,H9_14
6123,20.089758,57.912495,55.133987,H10,SFL,14,ha,0,H10_14
6124,22.042284,60.422878,57.926788,H11,SFL,14,ha,0,H11_14
6125,20.992199,58.362911,57.426067,H12,SFL,14,ha,0,H12_14

In [20]:
#Select rows where Residue_ID is 5 and Atom_Type is either 'o' or 'os'
# df1 = df[(df['Residue_ID'] == 5) & df['Atom_Type'].isin(['o', 'os'])].reset_index(drop=True)
# Select all O Atoms
# Select relevant atom types and residue names for calculations
df1 = df[df['Atom_Type'].isin(['o', 'os'])].reset_index(drop=True)
# df1 = df[df['Atom_Name'].str.startswith('O')].reset_index(drop=True)
df2 = df[(df['Residue_Name'] == 'CSP') & (df['Atom_Type'] == 'n')].reset_index(drop=True)
df3 = df[(df['Residue_Name'] == 'CSP') & (df['Atom_Type'] == 'hn')].reset_index(drop=True)

In [21]:
def calculate_distance(row1, row2):
    """
    Calculate Euclidean distance between two rows based on X, Y, Z coordinates.
    
    Parameters:
        row1, row2: objects (like a pandas Series or namedtuple) with attributes X, Y, Z.
    
    Returns:
        Euclidean distance (float).
    """
    coord1 = np.array([row1.X, row1.Y, row1.Z])
    coord2 = np.array([row2.X, row2.Y, row2.Z])
    return np.linalg.norm(coord1 - coord2)

def calculate_angle(vec1, vec2):
    """
    Calculate the angle between two vectors (in degrees).
    
    Parameters:
        vec1, vec2: numpy arrays representing the vectors.
    
    Returns:
        Angle between vec1 and vec2 in degrees (float).
    """
    # Compute cosine of the angle using the dot product
    cos_theta = np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2))
    # Clip the value to avoid any numerical issues outside the valid range for arccos
    cos_theta = np.clip(cos_theta, -1.0, 1.0)
    angle_rad = np.arccos(cos_theta)
    return np.degrees(angle_rad)

In [22]:
# Calculate angles and distances
distance_results = []
angle_results = []

for t in df1['time'].unique():
    # Filter rows for the current time:
    # For df1, we reset the index (we don't need its original index);
    # For df2 and df3, we keep the original index by not dropping it.
    df1_time = df1[df1['time'] == t].reset_index(drop=True)
    df2_time = df2[df2['time'] == t].reset_index()   # keeps original index in 'index'
    df3_time = df3[df3['time'] == t].reset_index()   # keeps original index in 'index'
    
    # For each row in df1, pair each row in df2 and df3 based on index
    for row1 in df1_time.itertuples(index=False):
        for row2, row3 in zip(df2_time.itertuples(), df3_time.itertuples()):
            # Calculate Euclidean distance between row1 (from df1) and row2 (from df2)
            distance = calculate_distance(row1, row2)
            
            # Calculate vectors from row3 (from df3) to row1 and row2
            vec3_to_df1 = np.array([row1.X - row3.X, row1.Y - row3.Y, row1.Z - row3.Z])
            vec3_to_df2 = np.array([row2.X - row3.X, row2.Y - row3.Y, row2.Z - row3.Z])
            angle = calculate_angle(vec3_to_df1, vec3_to_df2)
            
            # Append distance results if condition is met (distance <= 3.5)
            if distance <= 3.5:
                distance_results.append({
                    'source': row1.elem,
                    'src_x': row1.X,
                    'src_y': row1.Y,
                    'src_z': row1.Z,
                    'src_mol': row1.Residue_ID,
                    'dst': row2.elem,
                    'dst_x': row2.X,
                    'dst_y': row2.Y,
                    'dst_z': row2.Z,
                    'dst_mol': row2.Residue_ID,
                    'dst_idx': row2.Index,  
                    'time': t,
                    'distance': distance
                })
            # Append angle results if condition is met (135 <= angle < 180)
            if 135 <= angle < 180:
                angle_results.append({
                    'source': row1.elem,
                    'src_x': row1.X,
                    'src_y': row1.Y,
                    'src_z': row1.Z,
                    'src_mol': row1.Residue_ID,
                    'dst': row3.elem,
                    'dst_x': row3.X,
                    'dst_y': row3.Y,
                    'dst_z': row3.Z,
                    'dst_mol': row3.Residue_ID,
                    'dst_idx': row3.Index,  
                    'time': t,
                    'angle': angle
                })

# Convert your results lists into DataFrames
df_distance = pd.DataFrame(distance_results)
df_angle = pd.DataFrame(angle_results)

In [23]:
df_distance

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,distance
0,O8_1,12.433211,1.435311,29.606905,1,N11_1,12.264816,2.733424,27.667477,1,0,0,2.339837
1,O10_1,10.361735,2.108788,28.901592,1,N11_1,12.264816,2.733424,27.667477,1,0,0,2.352643
2,O10_1,10.361735,2.108788,28.901592,1,N79_1,8.222926,3.125758,30.759445,1,5,0,3.010041
3,O20_1,11.626869,5.605087,34.612240,1,N23_1,10.870185,7.574643,35.393948,1,1,0,2.250064
4,O22_1,9.349302,5.952352,34.952969,1,N23_1,10.870185,7.574643,35.393948,1,1,0,2.267019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,O770_4,66.772491,-1.704829,31.064491,4,N783_4,69.011452,0.405388,31.569620,4,215,0,3.117871
517,O780_4,67.096054,1.456644,31.661438,4,N783_4,69.011452,0.405388,31.569620,4,215,0,2.186851
518,O782_4,68.125221,0.886503,33.611347,4,N783_4,69.011452,0.405388,31.569620,4,215,0,2.277175
519,O2_11,7.913268,36.730728,33.888664,11,N407_1,5.027152,37.718132,33.145878,1,27,0,3.139484
520,O2_11,7.913268,36.730728,33.888664,11,N475_1,8.863441,39.238029,32.976837,1,32,0,2.832105

In [24]:
df_angle

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,angle
0,O8_1,12.433211,1.435311,29.606905,1,H46_1,15.508764,3.906857,27.851604,1,3,0,150.071960
1,O8_1,12.433211,1.435311,29.606905,1,H66_1,8.854777,2.591426,30.175131,1,5,0,146.449027
2,O8_1,12.433211,1.435311,29.606905,1,H83_1,8.434090,7.601198,32.716743,1,6,0,158.491808
3,O8_1,12.433211,1.435311,29.606905,1,H177_1,6.069104,16.899189,34.597523,1,14,0,148.473702
4,O8_1,12.433211,1.435311,29.606905,1,H194_1,7.083150,21.469265,33.176544,1,15,0,161.601357
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13611,O2_14,18.677591,65.035980,52.859055,14,H342_4,61.305489,32.160271,26.468689,4,189,0,153.166805
13612,O2_14,18.677591,65.035980,52.859055,14,H352_4,62.975449,31.571283,35.977997,4,190,0,172.072480
13613,O2_14,18.677591,65.035980,52.859055,14,H436_4,57.428974,28.395250,28.561724,4,197,0,142.077027
13614,O2_14,18.677591,65.035980,52.859055,14,H453_4,59.616276,24.368275,25.962568,4,198,0,161.943814
13615,O2_14,18.677591,65.035980,52.859055,14,H611_4,66.870491,4.944293,35.660381,4,211,0,147.575830

In [25]:
# Define the key columns used for matching
key_cols = ['source', 'time', 'dst_idx']
# ['source', 'src_x', 'src_y', 'src_z', 'src_mol', 'time', 'dst_idx']

# Find the common key rows in both dataframes.
# We first select only the key columns and drop duplicates.
common_keys = pd.merge(
    df_distance[key_cols].drop_duplicates(),
    df_angle[key_cols].drop_duplicates(),
    on=key_cols,
    how='inner'
)

# Now, filter each dataframe to keep only rows with these common keys.
df_distance_common = df_distance.merge(common_keys, on=key_cols, how='inner')
df_angle_common = df_angle.merge(common_keys, on=key_cols, how='inner')

In [26]:
df_distance_common

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,distance
0,O10_1,10.361735,2.108788,28.901592,1,N79_1,8.222926,3.125758,30.759445,1,5,0,3.010041
1,O184_1,7.992947,17.905865,26.629707,1,N255_1,5.056916,18.569294,25.397465,1,17,0,3.252512
2,O210_1,6.694972,19.880878,33.721676,1,N231_1,6.883698,22.451603,33.030262,1,15,0,2.668763
3,O284_1,8.515759,29.113972,28.234339,1,N363_1,8.105013,32.489857,28.502953,1,24,0,3.411373
4,O406_1,3.561949,37.875099,31.388666,1,N451_1,1.155581,38.586143,29.658045,1,30,0,3.048154
5,O450_1,0.905972,40.174129,28.048920,1,N375_1,-0.188102,38.126186,25.880770,1,25,0,3.176782
6,O492_1,6.153981,46.267063,27.492346,1,N563_1,4.202358,48.370407,26.313599,1,38,0,3.101988
7,O518_1,5.912088,46.759968,34.716255,1,N539_1,7.181493,49.662910,34.801197,1,36,0,3.169492
8,O624_1,4.566501,56.898605,32.142868,1,N583_1,3.352883,54.048855,33.233223,1,39,0,3.283721
9,O714_1,8.888943,65.198433,30.869387,1,N639_1,8.924366,63.455074,33.302853,1,43,0,2.993712
10,O758_1,5.516676,67.411613,28.082914,1,N683_1,2.892010,66.292542,26.096718,1,46,0,3.476517
11,O782_1,10.460320,68.549309,28.115032,1,N715_1,9.108064,67.424599,30.516251,1,48,0,2.976478
12,O142_2,25.143543,17.185255,33.033501,2,N211_2,25.118454,19.655830,34.728790,2,68,0,2.996394
13,O154_2,30.203680,19.514872,36.170452,2,N231_2,29.552748,22.681555,35.266907,2,69,0,3.356783
14,O186_2,30.189117,20.568506,27.106049,2,N255_2,28.023796,22.315609,26.319609,2,71,0,2.891275
15,O318_2,28.699041,30.150375,27.466879,2,N243_2,28.391825,27.703691,26.214705,2,70,0,2.765607
16,O362_2,28.220814,35.889729,26.608881,2,N431_2,26.119104,37.660004,26.136780,2,83,0,2.788178
17,O450_2,22.987112,44.836849,30.553154,2,N519_2,23.913919,46.658443,32.653240,2,89,0,2.930450
18,O582_2,24.397667,52.974819,31.687691,2,N507_2,22.475817,50.495003,31.071608,2,88,0,3.197273
19,O650_2,28.511019,62.163567,32.331051,2,N671_2,28.603838,64.926987,31.265554,2,99,0,2.963172
20,O98_3,47.834736,58.974117,23.951324,3,N167_3,49.317219,57.100513,25.698320,3,119,0,2.959754
21,O186_3,40.029476,52.439808,31.849939,3,N255_3,38.911613,49.853992,32.107483,3,125,0,2.828849
22,O274_3,45.063934,43.122559,27.045622,3,N343_3,47.186127,41.030659,27.086603,3,131,0,2.980172
23,O318_3,40.502140,42.358414,33.911774,3,N243_3,40.617313,45.264000,34.120918,3,124,0,2.915380
24,O406_3,49.063816,31.213064,28.732401,3,N475_3,49.499580,28.981329,30.303932,3,140,0,2.764099
25,O430_3,42.326073,29.618729,34.196365,3,N451_3,41.624485,27.283293,32.769951,3,138,0,2.825092
26,O494_3,44.790531,25.476395,33.005753,3,N419_3,43.986595,27.205070,35.380566,3,136,0,3.045385
27,O668_3,43.802261,7.870823,32.458447,3,N739_3,41.006294,7.808848,34.308434,3,158,0,3.353166
28,O54_4,63.923477,66.462120,30.482864,4,N123_4,61.007996,65.100288,30.045115,4,170,0,3.247498
29,O122_4,60.220436,63.005241,29.654554,4,N143_4,59.441887,60.611889,31.369989,4,171,0,3.045816
30,O230_4,65.954422,49.416893,32.987801,4,N299_4,65.939285,46.485996,33.938580,4,182,0,3.081293
31,O318_4,58.808167,43.650703,32.750278,4,N243_4,58.271629,46.476021,34.725086,4,178,0,3.488575
32,O362_4,63.985378,37.838196,33.295712,4,N431_4,62.548595,36.208370,35.367336,4,191,0,3.002050
33,O406_4,64.345634,32.239819,27.340534,4,N475_4,66.277916,30.260620,28.395374,4,194,0,2.960342
34,O518_4,58.413815,25.717010,27.209917,4,N539_4,60.004410,23.638815,25.376554,4,198,0,3.195326
35,O626_4,60.278358,14.224412,29.886162,4,N551_4,60.075871,16.692266,32.075138,4,199,0,3.304985
36,O626_4,60.278358,14.224412,29.886162,4,N695_4,59.041943,11.528742,29.933428,4,209,0,2.966074
37,O670_4,67.777191,11.145252,31.802643,4,N739_4,66.663879,9.528377,34.027901,4,212,0,2.967410
38,O2_11,7.913268,36.730728,33.888664,11,N407_1,5.027152,37.718132,33.145878,1,27,0,3.139484

In [27]:
df_angle_common

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,angle
0,O10_1,10.361735,2.108788,28.901592,1,H66_1,8.854777,2.591426,30.175131,1,5,0,161.759281
1,O184_1,7.992947,17.905865,26.629707,1,H214_1,6.065125,18.591055,25.301497,1,17,0,136.799665
2,O210_1,6.694972,19.880878,33.721676,1,H194_1,7.083150,21.469265,33.176544,1,15,0,153.506310
3,O284_1,8.515759,29.113972,28.234339,1,H305_1,7.875639,31.549356,28.204592,1,24,0,146.807099
4,O406_1,3.561949,37.875099,31.388666,1,H379_1,1.872544,38.431503,30.356771,1,30,0,165.675379
5,O450_1,0.905972,40.174129,28.048920,1,H315_1,0.163979,38.568935,26.721113,1,25,0,158.744752
6,O492_1,6.153981,46.267063,27.492346,1,H473_1,4.762031,47.541893,26.476385,1,38,0,157.123106
7,O518_1,5.912088,46.759968,34.716255,1,H453_1,6.832856,48.719318,34.681793,1,36,0,170.898509
8,O624_1,4.566501,56.898605,32.142868,1,H490_1,3.384632,55.019894,32.946434,1,39,0,151.043155
9,O714_1,8.888943,65.198433,30.869387,1,H537_1,8.867854,64.047417,32.483036,1,43,0,176.176465
10,O758_1,5.516676,67.411613,28.082914,1,H574_1,3.519728,66.674187,26.794205,1,46,0,164.904388
11,O782_1,10.460320,68.549309,28.115032,1,H601_1,9.556486,67.973724,29.792681,1,48,0,163.677311
12,O142_2,25.143543,17.185255,33.033501,2,H177_2,25.181908,18.808271,34.177624,2,68,0,174.835614
13,O154_2,30.203680,19.514872,36.170452,2,H194_2,29.856056,21.722500,35.146957,2,69,0,147.493886
14,O186_2,30.189117,20.568506,27.106049,2,H214_2,28.792887,21.714682,26.590818,2,71,0,178.615018
15,O318_2,28.699041,30.150375,27.466879,2,H204_2,28.215799,28.402330,26.926807,2,70,0,142.499100
16,O362_2,28.220814,35.889729,26.608881,2,H362_2,26.866701,36.996868,26.302677,2,83,0,177.673638
17,O450_2,22.987112,44.836849,30.553154,2,H436_2,23.479717,46.139233,31.899544,2,89,0,166.128651
18,O582_2,24.397667,52.974819,31.687691,2,H426_2,23.041775,51.334438,31.036827,2,88,0,160.242662
19,O650_2,28.511019,62.163567,32.331051,2,H564_2,28.702896,63.939747,31.469797,2,99,0,161.970728
20,O98_3,47.834736,58.974117,23.951324,3,H140_3,48.739635,57.603271,25.035143,3,119,0,165.570242
21,O186_3,40.029476,52.439808,31.849939,3,H214_3,39.360126,50.717030,32.390629,3,125,0,146.887599
22,O274_3,45.063934,43.122559,27.045622,3,H288_3,46.581059,41.839951,27.015108,3,131,0,166.101868
23,O318_3,40.502140,42.358414,33.911774,3,H204_3,40.443954,44.277950,33.966568,3,124,0,166.340065
24,O406_3,49.063816,31.213064,28.732401,3,H399_3,49.371803,29.805269,29.728640,3,140,0,177.099120
25,O430_3,42.326073,29.618729,34.196365,3,H379_3,41.963467,28.123850,33.222424,3,138,0,170.712133
26,O494_3,44.790531,25.476395,33.005753,3,H352_3,43.795830,26.653307,34.552715,3,136,0,141.886123
27,O668_3,43.802261,7.870823,32.458447,3,H621_3,41.836048,7.996122,33.758331,3,158,0,166.303338
28,O54_4,63.923477,66.462120,30.482864,4,H103_4,61.853001,65.646225,30.163860,4,170,0,168.648470
29,O122_4,60.220436,63.005241,29.654554,4,H120_4,59.761589,61.465858,30.928741,4,171,0,166.972061
30,O230_4,65.954422,49.416893,32.987801,4,H251_4,66.032295,47.349487,33.417141,4,182,0,159.268075
31,O318_4,58.808167,43.650703,32.750278,4,H204_4,58.448673,45.861782,33.939255,4,178,0,156.507351
32,O362_4,63.985378,37.838196,33.295712,4,H362_4,62.920628,36.911579,34.740238,4,191,0,162.723190
33,O406_4,64.345634,32.239819,27.340534,4,H399_4,65.704948,30.809671,27.765759,4,194,0,153.625604
34,O518_4,58.413815,25.717010,27.209917,4,H453_4,59.616276,24.368275,25.962568,4,198,0,168.759087
35,O626_4,60.278358,14.224412,29.886162,4,H463_4,59.916786,16.302830,31.153616,4,199,0,140.360964
36,O626_4,60.278358,14.224412,29.886162,4,H584_4,59.438526,12.377236,30.319366,4,209,0,145.548894
37,O670_4,67.777191,11.145252,31.802643,4,H621_4,66.924530,9.927870,33.134235,4,212,0,159.917671
38,O2_11,7.913268,36.730728,33.888664,11,H342_1,5.975032,37.442245,33.372990,1,27,0,176.032262

In [28]:
# Combine src and dst values for consistent mapping
combined_values = pd.concat([
    df_distance_common['source'], df_distance_common['dst'], 
    df_angle_common['source'], df_angle_common['dst']
])

# Use factorize to assign numeric indices starting from 0
numeric_indices, _ = pd.factorize(combined_values)

# Map src and dst directly to numeric indices using factorized output
mapping = pd.Series(numeric_indices, index=combined_values).to_dict()


for df in [df_distance_common, df_angle_common]:
    df['src'] = df['source'].map(mapping)
    df['dst'] = df['dst'].map(mapping)

In [29]:
df_distance_common

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,distance,src
0,O10_1,10.361735,2.108788,28.901592,1,38,8.222926,3.125758,30.759445,1,5,0,3.010041,0
1,O184_1,7.992947,17.905865,26.629707,1,39,5.056916,18.569294,25.397465,1,17,0,3.252512,1
2,O210_1,6.694972,19.880878,33.721676,1,40,6.883698,22.451603,33.030262,1,15,0,2.668763,2
3,O284_1,8.515759,29.113972,28.234339,1,41,8.105013,32.489857,28.502953,1,24,0,3.411373,3
4,O406_1,3.561949,37.875099,31.388666,1,42,1.155581,38.586143,29.658045,1,30,0,3.048154,4
5,O450_1,0.905972,40.174129,28.048920,1,43,-0.188102,38.126186,25.880770,1,25,0,3.176782,5
6,O492_1,6.153981,46.267063,27.492346,1,44,4.202358,48.370407,26.313599,1,38,0,3.101988,6
7,O518_1,5.912088,46.759968,34.716255,1,45,7.181493,49.662910,34.801197,1,36,0,3.169492,7
8,O624_1,4.566501,56.898605,32.142868,1,46,3.352883,54.048855,33.233223,1,39,0,3.283721,8
9,O714_1,8.888943,65.198433,30.869387,1,47,8.924366,63.455074,33.302853,1,43,0,2.993712,9
10,O758_1,5.516676,67.411613,28.082914,1,48,2.892010,66.292542,26.096718,1,46,0,3.476517,10
11,O782_1,10.460320,68.549309,28.115032,1,49,9.108064,67.424599,30.516251,1,48,0,2.976478,11
12,O142_2,25.143543,17.185255,33.033501,2,50,25.118454,19.655830,34.728790,2,68,0,2.996394,12
13,O154_2,30.203680,19.514872,36.170452,2,51,29.552748,22.681555,35.266907,2,69,0,3.356783,13
14,O186_2,30.189117,20.568506,27.106049,2,52,28.023796,22.315609,26.319609,2,71,0,2.891275,14
15,O318_2,28.699041,30.150375,27.466879,2,53,28.391825,27.703691,26.214705,2,70,0,2.765607,15
16,O362_2,28.220814,35.889729,26.608881,2,54,26.119104,37.660004,26.136780,2,83,0,2.788178,16
17,O450_2,22.987112,44.836849,30.553154,2,55,23.913919,46.658443,32.653240,2,89,0,2.930450,17
18,O582_2,24.397667,52.974819,31.687691,2,56,22.475817,50.495003,31.071608,2,88,0,3.197273,18
19,O650_2,28.511019,62.163567,32.331051,2,57,28.603838,64.926987,31.265554,2,99,0,2.963172,19
20,O98_3,47.834736,58.974117,23.951324,3,58,49.317219,57.100513,25.698320,3,119,0,2.959754,20
21,O186_3,40.029476,52.439808,31.849939,3,59,38.911613,49.853992,32.107483,3,125,0,2.828849,21
22,O274_3,45.063934,43.122559,27.045622,3,60,47.186127,41.030659,27.086603,3,131,0,2.980172,22
23,O318_3,40.502140,42.358414,33.911774,3,61,40.617313,45.264000,34.120918,3,124,0,2.915380,23
24,O406_3,49.063816,31.213064,28.732401,3,62,49.499580,28.981329,30.303932,3,140,0,2.764099,24
25,O430_3,42.326073,29.618729,34.196365,3,63,41.624485,27.283293,32.769951,3,138,0,2.825092,25
26,O494_3,44.790531,25.476395,33.005753,3,64,43.986595,27.205070,35.380566,3,136,0,3.045385,26
27,O668_3,43.802261,7.870823,32.458447,3,65,41.006294,7.808848,34.308434,3,158,0,3.353166,27
28,O54_4,63.923477,66.462120,30.482864,4,66,61.007996,65.100288,30.045115,4,170,0,3.247498,28
29,O122_4,60.220436,63.005241,29.654554,4,67,59.441887,60.611889,31.369989,4,171,0,3.045816,29
30,O230_4,65.954422,49.416893,32.987801,4,68,65.939285,46.485996,33.938580,4,182,0,3.081293,30
31,O318_4,58.808167,43.650703,32.750278,4,69,58.271629,46.476021,34.725086,4,178,0,3.488575,31
32,O362_4,63.985378,37.838196,33.295712,4,70,62.548595,36.208370,35.367336,4,191,0,3.002050,32
33,O406_4,64.345634,32.239819,27.340534,4,71,66.277916,30.260620,28.395374,4,194,0,2.960342,33
34,O518_4,58.413815,25.717010,27.209917,4,72,60.004410,23.638815,25.376554,4,198,0,3.195326,34
35,O626_4,60.278358,14.224412,29.886162,4,73,60.075871,16.692266,32.075138,4,199,0,3.304985,35
36,O626_4,60.278358,14.224412,29.886162,4,74,59.041943,11.528742,29.933428,4,209,0,2.966074,35
37,O670_4,67.777191,11.145252,31.802643,4,75,66.663879,9.528377,34.027901,4,212,0,2.967410,36
38,O2_11,7.913268,36.730728,33.888664,11,76,5.027152,37.718132,33.145878,1,27,0,3.139484,37

In [30]:
df_angle_common

,source,src_x,src_y,src_z,src_mol,dst,dst_x,dst_y,dst_z,dst_mol,dst_idx,time,angle,src
0,O10_1,10.361735,2.108788,28.901592,1,77,8.854777,2.591426,30.175131,1,5,0,161.759281,0
1,O184_1,7.992947,17.905865,26.629707,1,78,6.065125,18.591055,25.301497,1,17,0,136.799665,1
2,O210_1,6.694972,19.880878,33.721676,1,79,7.083150,21.469265,33.176544,1,15,0,153.506310,2
3,O284_1,8.515759,29.113972,28.234339,1,80,7.875639,31.549356,28.204592,1,24,0,146.807099,3
4,O406_1,3.561949,37.875099,31.388666,1,81,1.872544,38.431503,30.356771,1,30,0,165.675379,4
5,O450_1,0.905972,40.174129,28.048920,1,82,0.163979,38.568935,26.721113,1,25,0,158.744752,5
6,O492_1,6.153981,46.267063,27.492346,1,83,4.762031,47.541893,26.476385,1,38,0,157.123106,6
7,O518_1,5.912088,46.759968,34.716255,1,84,6.832856,48.719318,34.681793,1,36,0,170.898509,7
8,O624_1,4.566501,56.898605,32.142868,1,85,3.384632,55.019894,32.946434,1,39,0,151.043155,8
9,O714_1,8.888943,65.198433,30.869387,1,86,8.867854,64.047417,32.483036,1,43,0,176.176465,9
10,O758_1,5.516676,67.411613,28.082914,1,87,3.519728,66.674187,26.794205,1,46,0,164.904388,10
11,O782_1,10.460320,68.549309,28.115032,1,88,9.556486,67.973724,29.792681,1,48,0,163.677311,11
12,O142_2,25.143543,17.185255,33.033501,2,89,25.181908,18.808271,34.177624,2,68,0,174.835614,12
13,O154_2,30.203680,19.514872,36.170452,2,90,29.856056,21.722500,35.146957,2,69,0,147.493886,13
14,O186_2,30.189117,20.568506,27.106049,2,91,28.792887,21.714682,26.590818,2,71,0,178.615018,14
15,O318_2,28.699041,30.150375,27.466879,2,92,28.215799,28.402330,26.926807,2,70,0,142.499100,15
16,O362_2,28.220814,35.889729,26.608881,2,93,26.866701,36.996868,26.302677,2,83,0,177.673638,16
17,O450_2,22.987112,44.836849,30.553154,2,94,23.479717,46.139233,31.899544,2,89,0,166.128651,17
18,O582_2,24.397667,52.974819,31.687691,2,95,23.041775,51.334438,31.036827,2,88,0,160.242662,18
19,O650_2,28.511019,62.163567,32.331051,2,96,28.702896,63.939747,31.469797,2,99,0,161.970728,19
20,O98_3,47.834736,58.974117,23.951324,3,97,48.739635,57.603271,25.035143,3,119,0,165.570242,20
21,O186_3,40.029476,52.439808,31.849939,3,98,39.360126,50.717030,32.390629,3,125,0,146.887599,21
22,O274_3,45.063934,43.122559,27.045622,3,99,46.581059,41.839951,27.015108,3,131,0,166.101868,22
23,O318_3,40.502140,42.358414,33.911774,3,100,40.443954,44.277950,33.966568,3,124,0,166.340065,23
24,O406_3,49.063816,31.213064,28.732401,3,101,49.371803,29.805269,29.728640,3,140,0,177.099120,24
25,O430_3,42.326073,29.618729,34.196365,3,102,41.963467,28.123850,33.222424,3,138,0,170.712133,25
26,O494_3,44.790531,25.476395,33.005753,3,103,43.795830,26.653307,34.552715,3,136,0,141.886123,26
27,O668_3,43.802261,7.870823,32.458447,3,104,41.836048,7.996122,33.758331,3,158,0,166.303338,27
28,O54_4,63.923477,66.462120,30.482864,4,105,61.853001,65.646225,30.163860,4,170,0,168.648470,28
29,O122_4,60.220436,63.005241,29.654554,4,106,59.761589,61.465858,30.928741,4,171,0,166.972061,29
30,O230_4,65.954422,49.416893,32.987801,4,107,66.032295,47.349487,33.417141,4,182,0,159.268075,30
31,O318_4,58.808167,43.650703,32.750278,4,108,58.448673,45.861782,33.939255,4,178,0,156.507351,31
32,O362_4,63.985378,37.838196,33.295712,4,109,62.920628,36.911579,34.740238,4,191,0,162.723190,32
33,O406_4,64.345634,32.239819,27.340534,4,110,65.704948,30.809671,27.765759,4,194,0,153.625604,33
34,O518_4,58.413815,25.717010,27.209917,4,111,59.616276,24.368275,25.962568,4,198,0,168.759087,34
35,O626_4,60.278358,14.224412,29.886162,4,112,59.916786,16.302830,31.153616,4,199,0,140.360964,35
36,O626_4,60.278358,14.224412,29.886162,4,113,59.438526,12.377236,30.319366,4,209,0,145.548894,35
37,O670_4,67.777191,11.145252,31.802643,4,114,66.924530,9.927870,33.134235,4,212,0,159.917671,36
38,O2_11,7.913268,36.730728,33.888664,11,115,5.975032,37.442245,33.372990,1,27,0,176.032262,37

In [31]:
def generate_node_features(df1, df2, filename):
    """
    Generate node features by combining:
      - Source nodes from df1: use 'src_mol'
      - Destination nodes from df1: use 'dst_mol'
      - Destination nodes from df2: use 'dst_mol'
    The destination node IDs in df2 are assumed to start after the max dst in df1.
    The combined node features are then extracted as a single column (named 'feat'),
    converted to a PyTorch tensor of shape [1, dim], and saved as a .pt file.
    """
    # Process source nodes from df1
    src_features = df1[['src', 'src_mol']].drop_duplicates().rename(
        columns={'src': 'node', 'src_mol': 'feat'}
    ).copy()
    # Convert to integer values (adjust if needed)
    src_features['feat'] = src_features['feat'].astype(int)
    
    # Process destination nodes from df1
    dst_features_df1 = df1[['dst', 'dst_mol']].drop_duplicates().rename(
        columns={'dst': 'node', 'dst_mol': 'feat'}
    ).copy()
    dst_features_df1['feat'] = dst_features_df1['feat'].astype(int)
    
    # Process destination nodes from df2
    dst_features_df2 = df2[['dst', 'dst_mol']].drop_duplicates().rename(
        columns={'dst': 'node', 'dst_mol': 'feat'}
    ).copy()
    dst_features_df2['feat'] = dst_features_df2['feat'].astype(int)
    
    # Determine an offset such that df2 destination node IDs come after those of df1.
    if not dst_features_df1.empty:
        offset = dst_features_df1['node'].max() + 1
    else:
        offset = 0
    dst_features_df2['node'] = dst_features_df2['node'] + offset
    
    # Combine all nodes: source nodes, then destination nodes from df1, then from df2.
    all_nodes = pd.concat([src_features, dst_features_df1, dst_features_df2], ignore_index=True)
    
    # Drop duplicate node entries based on the 'node' column
    all_nodes = all_nodes.drop_duplicates(subset=['node']).reset_index(drop=True)
    
    # Optionally, sort by node if desired
    all_nodes = all_nodes.sort_values(by='node').reset_index(drop=True)
    
    # Extract only the 'feat' column as a NumPy array.
    feat_np = all_nodes['feat'].values
    # Convert to a PyTorch tensor and add a batch dimension to get shape [1, dim].
    feat_tensor = torch.tensor(feat_np, dtype=torch.long).unsqueeze(0)
    
    # Save the tensor as a .pt file.
    torch.save(feat_tensor, filename)
    logging.info(f"Saved node features tensor to {filename}")
    
    return feat_tensor

In [32]:

def process_and_save_dataframe(df, filename):
    """
    Process the input DataFrame to add 'ext_roll' and 'idx' columns,
    then save it to a CSV file.
    """
    # Work on a copy of the DataFrame to avoid the SettingWithCopyWarning.
    df = df[['src', 'dst', 'time', 'dst_idx']].copy()
    num_rows = len(df)
    
    # Insert an 'idx' column at the beginning
    df.insert(0, 'idx', range(num_rows))
    
    # Initialize 'ext_roll' column with zeros using .loc for assignment clarity
    df.loc[:, 'ext_roll'] = 0

    # Assign 1 to the middle 15% rows and 2 to the last 15% rows
    df.loc[int(num_rows * 0.7):int(num_rows * 0.85) - 1, 'ext_roll'] = 1
    df.loc[int(num_rows * 0.85):, 'ext_roll'] = 2

    # Save the updated DataFrame
    df.to_csv(filename, index=False)
    print(f"Saved updated DataFrame to {filename}")

In [33]:
generate_node_features(df_distance_common, df_angle_common, 'DATA/FILT_HB/node_features.pt')

    
process_and_save_dataframe(df_distance_common, 'DATA/FILT_HB/edges1.csv')
process_and_save_dataframe(df_angle_common, 'DATA/FILT_HB/edges2.csv')

Saved updated DataFrame to DATA/FILT_HB/edges1.csv
Saved updated DataFrame to DATA/FILT_HB/edges2.csv