In [1]:

import pandas as pd
import torch

/home/hasan/miniconda3/envs/dlp/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df1 = pd.read_csv('DATA/FILT_HB/edges1.csv')
df2 = pd.read_csv('DATA/FILT_HB/edges2.csv')

In [15]:
df1

         idx  src  dst  time  label  dst_idx  ext_roll
0          0  348  449     0      0      198         0
1          1   65  494     0      1       38         0
2          2  172  572     0      1       83         0
3          3  122  534     0      1       17         0
4          4   14  449     0      1      198         0
...      ...  ...  ...   ...    ...      ...       ...
83375  83375    3  437   999      0       35         2
83376  83376  237  613   999      1       69         2
83377  83377   40  474   999      1       25         2
83378  83378   22  457   999      1      136         2
83379  83379   32  447   999      0       48         2

[83380 rows x 7 columns]

In [16]:
df2

         idx  src  dst  time  label  dst_idx  ext_roll
0          0   11  679     0      1      182         0
1          1   13  682     0      1       30         0
2          2   99  740     0      1       71         0
3          3    8  676     0      1      125         0
4          4   36  699     0      1      191         0
...      ...  ...  ...   ...    ...      ...       ...
83375  83375  396  730   999      0      131         2
83376  83376  396  672   999      0        8         2
83377  83377  421  671   999      0      159         2
83378  83378  433  701   999      0      135         2
83379  83379   35  698   999      1       46         2

[83380 rows x 7 columns]

In [9]:
unique_src_values_df1 = df1['dst_idx'].nunique()
print(f"Unique src values in df1: {unique_src_values_df1}")

Unique src values in df1: 216

In [10]:
df1['dst_idx'].min()

np.int64(0)

In [11]:
df1['dst_idx'].max()

np.int64(215)

In [37]:



src_num_nodes1 = df1['src'].nunique()
dst_num_nodes1 = df1['dst'].nunique()

src_num_nodes2 = df2['src'].nunique()
dst_num_nodes2 = df2['dst'].nunique()
print(src_num_nodes1, dst_num_nodes1, src_num_nodes2, dst_num_nodes2)

num_nodes1 = src_num_nodes1 + dst_num_nodes1
num_nodes2 = src_num_nodes2 + dst_num_nodes2
print(f"num_nodes1: {num_nodes1}")
print(f"num_nodes2: {num_nodes2}")


num_nodes1 = max(int(df1['src'].max()), int(df1['dst'].max())) + 1
num_nodes2 = max(int(df2['src'].max()), int(df2['dst'].max())) + 1
print (num_nodes1, num_nodes2)

434 216 452 207
num_nodes1: 650
num_nodes2: 659
650 875

In [10]:
# Load a .pt file
pt_data = torch.load('DATA/FILT_HB/node_features.pt')
print(pt_data.shape)

torch.Size([1, 857])