In [10]:

import pandas as pd
import torch

In [11]:
df1 = pd.read_csv('DATA/FILT_HB/edges1.csv')
df2 = pd.read_csv('DATA/FILT_HB/edges2.csv')

In [12]:
df1

         idx  src  dst   time  label  dst_idx  ext_roll
0          0    4  456    0.0      1      125         0
1          1  420  634    0.0      0      193         0
2          2  286  562    0.0      0       36         0
3          3    9  461    0.0      1      140         0
4          4   61  518    0.0      0       97         0
...      ...  ...  ...    ...    ...      ...       ...
14639  14639  216  477  178.0      0       69         2
14640  14640  118  517  178.0      0        6         2
14641  14641  235  606  178.0      0       29         2
14642  14642   14  466  178.0      0        4         2
14643  14643  137  466  178.0      0        4         2

[14644 rows x 7 columns]

In [13]:
df2

         idx  src  dst   time  label  dst_idx  ext_roll
0          0   80  765    0.0      0       24         0
1          1    1  727    0.0      1      158         0
2          2   52  715    0.0      1       83         0
3          3  124  793    0.0      0      129         0
4          4   25  690    0.0      1      136         0
...      ...  ...  ...    ...    ...      ...       ...
14639  14639   54  718  178.0      1       43         2
14640  14640   60  670  178.0      0       36         2
14641  14641  424  668  178.0      0       66         2
14642  14642  117  669  178.0      1        8         2
14643  14643   52  715  178.0      1       83         2

[14644 rows x 7 columns]

In [22]:
unique_src_values_df1 = df2['dst'].nunique()
print(f"Unique src values in df1: {unique_src_values_df1}")

Unique src values in df1: 198

In [15]:
df1['dst_idx'].min()

0

In [16]:
df1['dst_idx'].max()

215

In [17]:



src_num_nodes1 = df1['src'].nunique()
dst_num_nodes1 = df1['dst'].nunique()

src_num_nodes2 = df2['src'].nunique()
dst_num_nodes2 = df2['dst'].nunique()
print(src_num_nodes1, dst_num_nodes1, src_num_nodes2, dst_num_nodes2)

num_nodes1 = src_num_nodes1 + dst_num_nodes1
num_nodes2 = src_num_nodes2 + dst_num_nodes2
print(f"num_nodes1: {num_nodes1}")
print(f"num_nodes2: {num_nodes2}")


num_nodes1 = max(int(df1['src'].max()), int(df1['dst'].max())) + 1
num_nodes2 = max(int(df2['src'].max()), int(df2['dst'].max())) + 1
print (num_nodes1, num_nodes2)

433 216 452 198
num_nodes1: 649
num_nodes2: 650
668 866

In [18]:
# Load a .pt file
pt_data = torch.load('DATA/FILT_HB/node_features.pt')
print(pt_data.shape)

torch.Size([1, 866])