In [20]:

import pandas as pd
import torch

In [21]:
df1 = pd.read_csv('DATA/FILT_HB_short/edges1.csv')
df2 = pd.read_csv('DATA/FILT_HB_short/edges2.csv')

In [22]:
# Load a .pt file
pt_data = torch.load('DATA/FILT_HB_short/node_features.pt')
print(pt_data.shape)

torch.Size([1, 148])

In [23]:
df1

       idx  src  dst  time  label  dst_idx  ext_roll
0        0    0   21     0      0       32         0
1        1    0   21     1      1       32         0
2        2    0   20     1      1       27         0
3        3    0   21     2      0       32         0
4        4    0   20     3      1       27         0
...    ...  ...  ...   ...    ...      ...       ...
1581  1581    0   21   998      0       32         2
1582  1582    0   20   998      1       27         2
1583  1583    1   22   998      0       11         2
1584  1584    0   21   999      1       32         2
1585  1585    1   22   999      0       11         2

[1586 rows x 7 columns]

In [24]:
df2

       idx  src  dst  time  label  dst_idx  ext_roll
0        0   14   37     0      0       38         0
1        1    0   25     1      1       27         0
2        2    9   56     1      0       36         0
3        3    0   26     1      1       32         0
4        4   17   43     2      0      118         0
...    ...  ...  ...   ...    ...      ...       ...
1581  1581   14   53   998      0       96         2
1582  1582   17   63   999      0      192         2
1583  1583   13   52   999      0       25         2
1584  1584    0   26   999      1       32         2
1585  1585   16   70   999      0      130         2

[1586 rows x 7 columns]

In [25]:
unique_src_values_df1 = df2['dst'].nunique()
print(f"Unique src values in df1: {unique_src_values_df1}")

Unique src values in df1: 123

In [26]:
df1['dst_idx'].min()

10

In [27]:
df1['dst_idx'].max()

32

In [28]:



src_num_nodes1 = df1['src'].nunique()
dst_num_nodes1 = df1['dst'].nunique()

src_num_nodes2 = df2['src'].nunique()
dst_num_nodes2 = df2['dst'].nunique()
print(src_num_nodes1, dst_num_nodes1, src_num_nodes2, dst_num_nodes2)

num_nodes1 = src_num_nodes1 + dst_num_nodes1
num_nodes2 = src_num_nodes2 + dst_num_nodes2
print(f"unique num_nodes1: {num_nodes1}")
print(f"unique num_nodes2: {num_nodes2}")


max_nodes1 = max(int(df1['src'].max()), int(df1['dst'].max())) + 1
max_nodes2 = max(int(df2['src'].max()), int(df2['dst'].max())) + 1
print (f"max num nodes for edges1:{max_nodes1}, edges2:{max_nodes2}")

3 5 20 123
unique num_nodes1: 8
unique num_nodes2: 143
max num nodes for edges1:25, edges2:148